/* LETRAS */
$font__raleway: 'Raleway', sans-serif;
$font__lato: 'Lato', sans-serif;

/* COLORES */
$negro: #000;
$grisOscuro: #0a0908;
$grisAzul: #22333b;
$blanco: #F1F1F1;

$color__gold: #B28604;
$color__lightyellow: #F3D848;
$color__yellow: #FFCB00;
$color__span: #DCC133;
$color__green: #94C75B;
$color__darkgreen: #608338;
$color__olivegreen: #B2AA0D;
$color__black: #4F4141;
$color__beige: #D8BCA8;
$color__gray: #DADADA;

$sombraDark: 1px 2px 10px rgba(170, 170, 170, .16);
$sombraLight: 1px 2px 10px rgba(0, 0, 0, 0.1);